main #img-cien-natu{
    top: 240px;
   position: absolute;

height: 50px;
border-radius: 20px;
border:2px solid rgba(255, 255, 255, 0);
   left:70px;
   height: 200px;
   width:16%;
   background: url('/public/imagens/wallpaper-bio.jpg');
   background-size: cover;
}
main #footer-div-natu{
    position: absolute; 
    z-index: 2;
    text-align: center;
    line-height: 130px;

    font-family: 'Oswald', sans-serif;
left:1%;
border-radius: 0 0 12px 12px;
    border:2px solid rgba(255, 0, 0, 0);
    width:96.5%;
    top: 50px;
    height: 160px;
    background: white;
}
 .seta-baixo{
    position: absolute;
    margin-top: 120px;
    padding-left: 35%;
    transition: background 0.3s;
    padding-right: 35%;
    left: 6%;
}
.seta-baixo:hover{
    background: rgba(128, 128, 128, 0.322);
    cursor: pointer;
}

main #footer-div-natu ul{
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14pt;
    display: block;
    
}
ul #bio{
    position: relative;
    padding-left: 50%;
    opacity: 0;
}

ul #quim{
    position: absolute;
    top:40px;
    padding-left: 32%;
    opacity: 0;
}
ul #fis{
    position: absolute;
    top:80px;
    padding-left: 32%;
    opacity: 0;
}
